# ❌ Fichiers parasites macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# 🐍 Environnements Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.venv/
env/
venv/
*.egg-info/

# 📦 Dépendances et builds
*.egg
.eggs/
*.whl
build/
dist/
pip-wheel-metadata/

# 🔧 Config locale, logs, coverage
*.log
logs/
htmlcov/
site/
coverage.xml

# 🔁 Docker, CI/CD, Git
docker-compose.override.yml
Dockerfile*
.git/
.github/
.bak
.swp

# 📚 MkDocs artefacts
site/
*.sqlite3

# Tests
tests/
*.test.*

modules/reflexia/state/._reflexia_state.toml