#########################
# 🌐 Base Web Server
#########################
fastapi
uvicorn[standard]

#########################
# 🎨 Formatage & Linting
#########################
black
ruff

#########################
# ✅ Tests & Couverture
#########################
pytest
pytest-cov
httpx>=0.23.0

#########################
# 📘 Documentation MkDocs
#########################
mkdocs
mkdocs-material
mkdocs-minify-plugin
mkdocs-macros-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-simple-hooks

#########################
# 🔧 Pre-commit Hooks
#########################
pre-commit