#########################
# 🌐 Base Web Server
#########################
fastapi
uvicorn[standard]

# 📡 Appels HTTP
requests

#########################
# 🎨 Formatage & Linting
#########################
black
ruff

#########################
# ✅ Tests & Couverture
#########################
pytest
pytest-cov
pytest-asyncio
httpx>=0.23.0

#########################
# 📘 Documentation MkDocs
#########################
mkdocs
mkdocs-material
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-simple-hooks==0.1.5
pymdown-extensions

#########################
# 🔧 Pre-commit Hooks
#########################
pre-commit
toml==0.10.2
tomli==2.2.1

defusedxml

prometheus_client>=0.22.0
